@model Citadel_Lib.ViewModels.ManageBookViewModel
@{
    ViewBag.Title = "Add Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{var title = @Model.BookDto.Id == 0 ? "Add Book" : "Edit Book";}

<div class="clearfix">
    <span class="h2">
        @title
    </span>

</div>

@using (Html.BeginForm("Save", "Book"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.BookDto.Title)
        @Html.TextBoxFor(m => m.BookDto.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BookDto.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BookDto.IBSN)
        @Html.TextBoxFor(m => m.BookDto.IBSN, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BookDto.IBSN)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BookDto.AuthorId)

        <div class="input-group">
            @Html.DropDownListFor(m => m.BookDto.AuthorId, new SelectList(Model.AuthorDtos, "Id", "Name"), "Select Author", new { @class = "form-control" })

           

            @Html.ValidationMessageFor(m => m.BookDto.AuthorId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BookDto.CategoryTypeId)
        <div class="input-group">
            @Html.DropDownListFor(m => m.BookDto.CategoryTypeId, new SelectList(Model.CategoryTypeDtos, "Id", "Name"), "Select Category Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BookDto.CategoryTypeId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BookDto.PublishedDate)
        @Html.TextBoxFor(m => m.BookDto.PublishedDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BookDto.PublishedDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BookDto.CopiesAvailable)
        @Html.TextBoxFor(m => m.BookDto.CopiesAvailable, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BookDto.CopiesAvailable)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.BookDto.Price)
        @Html.TextBoxFor(m => m.BookDto.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BookDto.Price)
    </div>

    @Html.HiddenFor(m => m.BookDto.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}